In [42]:
import pandas as pd
import matplotlib.pyplot as plt
import csv

In [43]:
df = pd.read_csv("../Datasets/premier-league-matches.csv")
df.head()

#creating season-wise database for simplicity
seasons = df['Season_End_Year'].unique()
season_data = {}

# Iterate through each season and create a DataFrame for each
for season_number, season_end_year in enumerate(seasons, start=1):
    season_df = df[df['Season_End_Year'] == season_end_year][['Date','Home', 'HomeGoals', 'AwayGoals', 'Away', 'FTR']]
    season_data[season_number] = season_df

# Access season-wise DataFrames using the season number as key
for season_number, season_df in season_data.items():
    print(f"Season {season_number}:")
    print(season_df)
    print("\n")

Season 1:
           Date            Home  HomeGoals  AwayGoals            Away FTR
0    1992-08-15   Coventry City          2          1   Middlesbrough   H
1    1992-08-15    Leeds United          2          1       Wimbledon   H
2    1992-08-15   Sheffield Utd          2          1  Manchester Utd   H
3    1992-08-15  Crystal Palace          3          3       Blackburn   D
4    1992-08-15         Arsenal          2          4    Norwich City   A
..          ...             ...        ...        ...             ...  ..
457  1993-05-08   Coventry City          3          3    Leeds United   D
458  1993-05-09       Wimbledon          1          2  Manchester Utd   A
459  1993-05-09             QPR          2          1     Aston Villa   H
460  1993-05-11         Arsenal          1          3       Tottenham   A
461  1993-05-11             QPR          3          1  Sheffield Weds   H

[462 rows x 6 columns]


Season 2:
           Date             Home  HomeGoals  AwayGoals            Away FTR
462  1993-08-14        Liverpool          2          0  Sheffield Weds   H
463  1993-08-14          Chelsea          1          2       Blackburn   A
464  1993-08-14      Aston Villa          4          1             QPR   H
465  1993-08-14  Oldham Athletic          0          3    Ipswich Town   A
466  1993-08-14          Arsenal          0          3   Coventry City   A
..          ...              ...        ...        ...             ...  ..
919  1994-05-07        Tottenham          1          2             QPR   A
920  1994-05-07     Swindon Town          0          5    Leeds United   A
921  1994-05-07        Blackburn          0          0    Ipswich Town   D
922  1994-05-07      Aston Villa          2          1       Liverpool   H
923  1994-05-08   Manchester Utd          0          0   Coventry City   D

[462 rows x 6 columns]


Season 3:
            Date             Home  HomeGoals  AwayGoals             Away FTR
924   1994-08-20          Everton          2          2      Aston Villa   D
925   1994-08-20     Ipswich Town          0          1  Nott'ham Forest   A
926   1994-08-20      Southampton          1          1        Blackburn   D
927   1994-08-20         West Ham          0          0     Leeds United   D
928   1994-08-20          Arsenal          3          0  Manchester City   H
...          ...              ...        ...        ...              ...  ..
1381  1995-05-14         West Ham          1          1   Manchester Utd   D
1382  1995-05-14  Manchester City          2          3              QPR   A
1383  1995-05-14      Southampton          2          2   Leicester City   D
1384  1995-05-14          Chelsea          2          1          Arsenal   H
1385  1995-05-14     Norwich City          1          1      Aston Villa   D

[462 rows x 6 columns]


Season 4:
            Date             Home  HomeGoals  AwayGoals            Away FTR
1386  1995-08-19        Wimbledon          3          2          Bolton   H
1387  1995-08-19    Newcastle Utd          3          0   Coventry City   H
1388  1995-08-19  Manchester City          1          1       Tottenham   D
1389  1995-08-19      Aston Villa          3          1  Manchester Utd   H
1390  1995-08-19        Blackburn          1          0             QPR   H
...          ...              ...        ...        ...             ...  ..
1761  1996-05-05      Southampton          0          0       Wimbledon   D
1762  1996-05-05    Newcastle Utd          1          1       Tottenham   D
1763  1996-05-05    Middlesbrough          0          3  Manchester Utd   A
1764  1996-05-05          Everton          1          0     Aston Villa   H
1765  1996-05-05    Coventry City          0          0    Leeds United   D

[380 rows x 6 columns]


Season 5:
            Date            Home  HomeGoals  AwayGoals             Away FTR
1766  1996-08-17   Coventry City          0          3  Nott'ham Forest   A
1767  1996-08-17         Everton          2          0    Newcastle Utd   H
1768  1996-08-17   Middlesbrough          3          3        Liverpool   D
1769  1996-08-17       Wimbledon          0          3   Manchester Utd   A
1770  1996-08-17       Blackburn          0          2        Tottenham   A
...          ...             ...        ...        ...              ...  ..
2141  1997-05-11       Tottenham          1          2    Coventry City   A
2142  1997-05-11         Everton          1          2          Chelsea   A
2143  1997-05-11   Newcastle Utd          5          0  Nott'ham Forest   H
2144  1997-05-11  Manchester Utd          2          0         West Ham   H
2145  1997-05-11     Aston Villa          1          0      Southampton   H

[380 rows x 6 columns]


Season 6:
            Date            Home  HomeGoals  AwayGoals            Away FTR
2146  1997-08-09   Coventry City          3          2         Chelsea   H
2147  1997-08-09   Newcastle Utd          2          1  Sheffield Weds   H
2148  1997-08-09     Southampton          0          1          Bolton   A
2149  1997-08-09         Everton          1          2  Crystal Palace   A
2150  1997-08-09  Leicester City          1          0     Aston Villa   H
...          ...             ...        ...        ...             ...  ..
2521  1998-05-10         Chelsea          2          0          Bolton   H
2522  1998-05-10     Aston Villa          1          0         Arsenal   H
2523  1998-05-10         Everton          1          1   Coventry City   D
2524  1998-05-10    Derby County          1          0       Liverpool   H
2525  1998-05-10  Crystal Palace          1          0  Sheffield Weds   H

[380 rows x 6 columns]


Season 7:
            Date             Home  HomeGoals  AwayGoals            Away FTR
2526  1998-08-15          Everton          0          0     Aston Villa   D
2527  1998-08-15   Sheffield Weds          0          1        West Ham   A
2528  1998-08-15    Coventry City          2          1         Chelsea   H
2529  1998-08-15    Middlesbrough          0          0    Leeds United   D
2530  1998-08-15   Manchester Utd          2          2  Leicester City   D
...          ...              ...        ...        ...             ...  ..
2901  1999-05-16        Liverpool          3          0       Wimbledon   H
2902  1999-05-16         West Ham          4          0   Middlesbrough   H
2903  1999-05-16          Chelsea          2          1    Derby County   H
2904  1999-05-16   Manchester Utd          2          1       Tottenham   H
2905  1999-05-16  Nott'ham Forest          1          0  Leicester City   H

[380 rows x 6 columns]


Season 8:
            Date           Home  HomeGoals  AwayGoals           Away FTR
2906  1999-08-07  Newcastle Utd          0          1    Aston Villa   A
2907  1999-08-07  Coventry City          0          1    Southampton   A
2908  1999-08-07  Middlesbrough          0          1  Bradford City   A
2909  1999-08-07        Chelsea          4          0     Sunderland   H
2910  1999-08-07   Leeds United          0          0   Derby County   D
...          ...            ...        ...        ...            ...  ..
3281  2000-05-14    Southampton          2          0      Wimbledon   H
3282  2000-05-14        Watford          1          0  Coventry City   H
3283  2000-05-14      Tottenham          3          1     Sunderland   H
3284  2000-05-14        Chelsea          4          0   Derby County   H
3285  2000-05-14  Bradford City          1          0      Liverpool   H

[380 rows x 6 columns]


Season 9:
            Date            Home  HomeGoals  AwayGoals             Away FTR
3286  2000-08-19      Sunderland          1          0          Arsenal   H
3287  2000-08-19  Leicester City          0          0      Aston Villa   D
3288  2000-08-19    Charlton Ath          4          0  Manchester City   H
3289  2000-08-19       Liverpool          1          0    Bradford City   H
3290  2000-08-19         Chelsea          4          2         West Ham   H
...          ...             ...        ...        ...              ...  ..
3661  2001-05-19         Everton          2          2       Sunderland   D
3662  2001-05-19   Coventry City          0          0    Bradford City   D
3663  2001-05-19    Leeds United          3          1   Leicester City   H
3664  2001-05-19   Newcastle Utd          3          0      Aston Villa   H
3665  2001-05-19     Southampton          3          2          Arsenal   H

[380 rows x 6 columns]


Season 10:
            Date            Home  HomeGoals  AwayGoals           Away FTR
3666  2001-08-18   Middlesbrough          0          4        Arsenal   A
3667  2001-08-18       Liverpool          2          1       West Ham   H
3668  2001-08-18    Charlton Ath          1          2        Everton   A
3669  2001-08-18  Leicester City          0          5         Bolton   A
3670  2001-08-18    Leeds United          2          0    Southampton   H
...          ...             ...        ...        ...            ...  ..
4041  2002-05-11         Chelsea          1          3    Aston Villa   A
4042  2002-05-11  Manchester Utd          0          0   Charlton Ath   D
4043  2002-05-11    Leeds United          1          0  Middlesbrough   H
4044  2002-05-11         Arsenal          4          3        Everton   H
4045  2002-05-11       Blackburn          3          0         Fulham   H

[380 rows x 6 columns]


Season 11:
            Date             Home  HomeGoals  AwayGoals             Away FTR
4046  2002-08-17          Everton          2          2        Tottenham   D
4047  2002-08-17        Blackburn          0          0       Sunderland   D
4048  2002-08-17     Charlton Ath          2          3          Chelsea   A
4049  2002-08-17     Leeds United          3          0  Manchester City   H
4050  2002-08-17   Manchester Utd          1          0        West Brom   H
...          ...              ...        ...        ...              ...  ..
4421  2003-05-11          Everton          1          2   Manchester Utd   A
4422  2003-05-11       Sunderland          0          4          Arsenal   A
4423  2003-05-11  Birmingham City          2          2         West Ham   D
4424  2003-05-11           Bolton          2          1    Middlesbrough   H
4425  2003-05-11  Manchester City          0          1      Southampton   A

[380 rows x 6 columns]


Season 12:
            Date             Home  HomeGoals  AwayGoals           Away FTR
4426  2003-08-16        Blackburn          5          1         Wolves   H
4427  2003-08-16   Leicester City          2          2    Southampton   D
4428  2003-08-16  Birmingham City          1          0      Tottenham   H
4429  2003-08-16          Arsenal          2          1        Everton   H
4430  2003-08-16       Portsmouth          2          1    Aston Villa   H
...          ...              ...        ...        ...            ...  ..
4801  2004-05-15  Manchester City          5          1        Everton   H
4802  2004-05-15        Liverpool          1          1  Newcastle Utd   D
4803  2004-05-15           Wolves          0          2      Tottenham   A
4804  2004-05-15       Portsmouth          5          1  Middlesbrough   H
4805  2004-05-15          Chelsea          1          0   Leeds United   H

[380 rows x 6 columns]


Season 13:
            Date             Home  HomeGoals  AwayGoals             Away FTR
4806  2004-08-14        Blackburn          1          1        West Brom   D
4807  2004-08-14       Portsmouth          1          1  Birmingham City   D
4808  2004-08-14      Aston Villa          2          0      Southampton   H
4809  2004-08-14    Middlesbrough          2          2    Newcastle Utd   D
4810  2004-08-14     Norwich City          1          1   Crystal Palace   D
...          ...              ...        ...        ...              ...  ..
5181  2005-05-15        Liverpool          2          1      Aston Villa   H
5182  2005-05-15           Fulham          6          0     Norwich City   H
5183  2005-05-15        West Brom          2          0       Portsmouth   H
5184  2005-05-15  Manchester City          1          1    Middlesbrough   D
5185  2005-05-15  Birmingham City          2          1          Arsenal   H

[380 rows x 6 columns]


Season 14:
            Date           Home  HomeGoals  AwayGoals             Away FTR
5186  2005-08-13    Aston Villa          2          2           Bolton   D
5187  2005-08-13  Middlesbrough          0          0        Liverpool   D
5188  2005-08-13        Everton          0          2   Manchester Utd   A
5189  2005-08-13     Sunderland          1          3     Charlton Ath   A
5190  2005-08-13         Fulham          0          0  Birmingham City   D
...          ...            ...        ...        ...              ...  ..
5561  2006-05-07    Aston Villa          2          1       Sunderland   H
5562  2006-05-07     Portsmouth          1          3        Liverpool   A
5563  2006-05-07         Bolton          1          0  Birmingham City   H
5564  2006-05-07        Everton          2          2        West Brom   D
5565  2006-05-07  Newcastle Utd          1          0          Chelsea   H

[380 rows x 6 columns]


Season 15:
            Date           Home  HomeGoals  AwayGoals            Away FTR
5566  2006-08-19  Newcastle Utd          2          1  Wigan Athletic   H
5567  2006-08-19       West Ham          3          1    Charlton Ath   H
5568  2006-08-19         Bolton          2          0       Tottenham   H
5569  2006-08-19  Sheffield Utd          1          1       Liverpool   D
5570  2006-08-19        Reading          3          2   Middlesbrough   H
...          ...            ...        ...        ...             ...  ..
5941  2007-05-13        Chelsea          1          1         Everton   D
5942  2007-05-13      Liverpool          2          2    Charlton Ath   D
5943  2007-05-13        Watford          1          1   Newcastle Utd   D
5944  2007-05-13  Middlesbrough          3          1          Fulham   H
5945  2007-05-13     Portsmouth          0          0         Arsenal   D

[380 rows x 6 columns]


Season 16:
            Date             Home  HomeGoals  AwayGoals             Away FTR
5946  2007-08-11    Middlesbrough          1          2        Blackburn   A
5947  2007-08-11         West Ham          0          2  Manchester City   A
5948  2007-08-11           Bolton          1          3    Newcastle Utd   A
5949  2007-08-11      Aston Villa          1          2        Liverpool   A
5950  2007-08-11          Everton          2          1   Wigan Athletic   H
...          ...              ...        ...        ...              ...  ..
6321  2008-05-11          Chelsea          1          1           Bolton   D
6322  2008-05-11   Wigan Athletic          0          2   Manchester Utd   A
6323  2008-05-11  Birmingham City          4          1        Blackburn   H
6324  2008-05-11       Portsmouth          0          1           Fulham   A
6325  2008-05-11     Derby County          0          4          Reading   A

[380 rows x 6 columns]


Season 17:
            Date            Home  HomeGoals  AwayGoals            Away FTR
6326  2008-08-16      Sunderland          0          1       Liverpool   A
6327  2008-08-16        West Ham          2          1  Wigan Athletic   H
6328  2008-08-16          Bolton          3          1      Stoke City   H
6329  2008-08-16         Everton          2          3       Blackburn   A
6330  2008-08-16   Middlesbrough          2          1       Tottenham   H
...          ...             ...        ...        ...             ...  ..
6701  2009-05-24       Hull City          0          1  Manchester Utd   A
6702  2009-05-24  Wigan Athletic          1          0      Portsmouth   H
6703  2009-05-24         Arsenal          4          1      Stoke City   H
6704  2009-05-24       Blackburn          0          0       West Brom   D
6705  2009-05-24        West Ham          2          1   Middlesbrough   H

[380 rows x 6 columns]


Season 18:
            Date         Home  HomeGoals  AwayGoals             Away FTR
6706  2009-08-15   Portsmouth          0          1           Fulham   A
6707  2009-08-15       Wolves          0          2         West Ham   A
6708  2009-08-15  Aston Villa          0          2   Wigan Athletic   A
6709  2009-08-15       Bolton          0          1       Sunderland   A
6710  2009-08-15   Stoke City          2          0          Burnley   H
...          ...          ...        ...        ...              ...  ..
7081  2010-05-09      Arsenal          4          0           Fulham   H
7082  2010-05-09     West Ham          1          1  Manchester City   D
7083  2010-05-09      Everton          1          0       Portsmouth   H
7084  2010-05-09       Bolton          2          1  Birmingham City   H
7085  2010-05-09      Chelsea          8          0   Wigan Athletic   H

[380 rows x 6 columns]


Season 19:
            Date            Home  HomeGoals  AwayGoals             Away FTR
7086  2010-08-14          Bolton          0          0           Fulham   D
7087  2010-08-14  Wigan Athletic          0          4        Blackpool   A
7088  2010-08-14       Tottenham          0          0  Manchester City   D
7089  2010-08-14     Aston Villa          3          0         West Ham   H
7090  2010-08-14         Chelsea          6          0        West Brom   H
...          ...             ...        ...        ...              ...  ..
7461  2011-05-22  Manchester Utd          4          2        Blackpool   H
7462  2011-05-22          Fulham          2          2          Arsenal   D
7463  2011-05-22     Aston Villa          1          0        Liverpool   H
7464  2011-05-22   Newcastle Utd          3          3        West Brom   D
7465  2011-05-22      Stoke City          0          1   Wigan Athletic   A

[380 rows x 6 columns]


Season 20:
            Date             Home  HomeGoals  AwayGoals          Away FTR
7466  2011-08-13              QPR          0          4        Bolton   A
7467  2011-08-13        Blackburn          1          2        Wolves   A
7468  2011-08-13           Fulham          0          0   Aston Villa   D
7469  2011-08-13   Wigan Athletic          1          1  Norwich City   D
7470  2011-08-13    Newcastle Utd          0          0       Arsenal   D
...          ...              ...        ...        ...           ...  ..
7841  2012-05-13     Swansea City          1          0     Liverpool   H
7842  2012-05-13       Stoke City          2          2        Bolton   D
7843  2012-05-13        West Brom          2          3       Arsenal   A
7844  2012-05-13  Manchester City          3          2           QPR   H
7845  2012-05-13        Tottenham          2          0        Fulham   H

[380 rows x 6 columns]


Season 21:
            Date             Home  HomeGoals  AwayGoals            Away FTR
7846  2012-08-18          Arsenal          0          0      Sunderland   D
7847  2012-08-18           Fulham          5          0    Norwich City   H
7848  2012-08-18    Newcastle Utd          2          1       Tottenham   H
7849  2012-08-18        West Brom          3          0       Liverpool   H
7850  2012-08-18         West Ham          1          0     Aston Villa   H
...          ...              ...        ...        ...             ...  ..
8221  2013-05-19  Manchester City          2          3    Norwich City   A
8222  2013-05-19          Chelsea          2          1         Everton   H
8223  2013-05-19        Tottenham          1          0      Sunderland   H
8224  2013-05-19    Newcastle Utd          0          1         Arsenal   A
8225  2013-05-19        West Brom          5          5  Manchester Utd   D

[380 rows x 6 columns]


Season 22:
            Date             Home  HomeGoals  AwayGoals            Away FTR
8226  2013-08-17     Swansea City          1          4  Manchester Utd   A
8227  2013-08-17         West Ham          2          0    Cardiff City   H

In [44]:
team_rating = {}
#setup initial elo rating for all the team playing in 1993 premier league
for i in df['Home'].unique():
    team_rating[i] = {"rating": 1500, "played": False}

print(team_rating)

{'Coventry City': {'rating': 1500, 'played': False}, 'Leeds United': {'rating': 1500, 'played': False}, 'Sheffield Utd': {'rating': 1500, 'played': False}, 'Crystal Palace': {'rating': 1500, 'played': False}, 'Arsenal': {'rating': 1500, 'played': False}, 'Ipswich Town': {'rating': 1500, 'played': False}, 'Everton': {'rating': 1500, 'played': False}, 'Southampton': {'rating': 1500, 'played': False}, 'Chelsea': {'rating': 1500, 'played': False}, "Nott'ham Forest": {'rating': 1500, 'played': False}, 'Manchester City': {'rating': 1500, 'played': False}, 'Blackburn': {'rating': 1500, 'played': False}, 'Wimbledon': {'rating': 1500, 'played': False}, 'Tottenham': {'rating': 1500, 'played': False}, 'Liverpool': {'rating': 1500, 'played': False}, 'Aston Villa': {'rating': 1500, 'played': False}, 'Oldham Athletic': {'rating': 1500, 'played': False}, 'Middlesbrough': {'rating': 1500, 'played': False}, 'Norwich City': {'rating': 1500, 'played': False}, 'QPR': {'rating': 1500, 'played': False}, 'Manchester Utd': {'rating': 1500, 'played': False}, 'Sheffield Weds': {'rating': 1500, 'played': False}, 'Newcastle Utd': {'rating': 1500, 'played': False}, 'West Ham': {'rating': 1500, 'played': False}, 'Swindon Town': {'rating': 1500, 'played': False}, 'Leicester City': {'rating': 1500, 'played': False}, 'Bolton': {'rating': 1500, 'played': False}, 'Sunderland': {'rating': 1500, 'played': False}, 'Derby County': {'rating': 1500, 'played': False}, 'Barnsley': {'rating': 1500, 'played': False}, 'Charlton Ath': {'rating': 1500, 'played': False}, 'Watford': {'rating': 1500, 'played': False}, 'Bradford City': {'rating': 1500, 'played': False}, 'Fulham': {'rating': 1500, 'played': False}, 'Birmingham City': {'rating': 1500, 'played': False}, 'West Brom': {'rating': 1500, 'played': False}, 'Portsmouth': {'rating': 1500, 'played': False}, 'Wolves': {'rating': 1500, 'played': False}, 'Wigan Athletic': {'rating': 1500, 'played': False}, 'Reading': {'rating': 1500, 'played': False}, 'Hull City': {'rating': 1500, 'played': False}, 'Stoke City': {'rating': 1500, 'played': False}, 'Burnley': {'rating': 1500, 'played': False}, 'Blackpool': {'rating': 1500, 'played': False}, 'Swansea City': {'rating': 1500, 'played': False}, 'Cardiff City': {'rating': 1500, 'played': False}, 'Bournemouth': {'rating': 1500, 'played': False}, 'Brighton': {'rating': 1500, 'played': False}, 'Huddersfield': {'rating': 1500, 'played': False}, 'Brentford': {'rating': 1500, 'played': False}}

In [45]:
# Function to update Elo ratings for home and away teams based on match result
def update_elo(home_team, away_team, ftr, k=32):
    home_elo = team_rating[home_team]["rating"] # Get current Elo rating for home team
    away_elo = team_rating[away_team]["rating"] # Get current Elo rating for away team

    # Calculate expected probabilities of home team winning and away team winning
    expected_home = 1 / (1 + 10**((away_elo - home_elo) / 400))
    expected_away = 1 / (1 + 10**((home_elo - away_elo) / 400))

    # Update Elo ratings based on match result
    if ftr == 'H': # Home team wins
        home_elo_new = home_elo + k*(1 - expected_home)
        away_elo_new = away_elo + k*(-expected_away)
    elif ftr == 'D': # Draw
        home_elo_new = home_elo + k*(0.5 - expected_home)
        away_elo_new = away_elo + k*(0.5 - expected_away)
    else: # Away team wins
        home_elo_new = home_elo + k*(-expected_home)
        away_elo_new = away_elo + k*(1 - expected_away)

    # Update Elo ratings and set "played" flag to True for both teams
    team_rating[home_team]["rating"] = round(home_elo_new)
    team_rating[away_team]["rating"] = round(away_elo_new)
    team_rating[home_team]["played"] = True
    team_rating[away_team]["played"] = True

In [46]:
# Open a CSV file for writing
with open("../Datasets/training_dataset.csv",mode="w") as csv_file:
    csv_writer = csv.writer(csv_file)
    csv_writer.writerow(['Date', 'Home Team', 'Away Team', 'Home Team Rating', 'Away Team Rating', 'Home Goals', 'Away Goals', 'Winner'])
    
    season_count = [i for i in range(1,32)]
    
    # Iterate through each season and each match in the season
    for season_num, season_df in season_data.items():
        for i in season_df.index:
            date = season_df.at[i, "Date"]
            home_team = season_df.at[i, "Home"]
            away_team = season_df.at[i, "Away"]
            home_goals = season_df.at[i, "HomeGoals"]
            away_goals = season_df.at[i, "AwayGoals"]
            ftr = season_df.at[i, "FTR"]

            # Write match details to the CSV file
            if (ftr == 'H'):
                csv_writer.writerow([date, home_team, away_team, team_rating[home_team]["rating"], team_rating[away_team]["rating"],home_goals,away_goals, 1])
            elif (ftr == 'A'):
                csv_writer.writerow([date, home_team, away_team, team_rating[home_team]["rating"], team_rating[away_team]["rating"],home_goals,away_goals, -1])
            else:
                csv_writer.writerow([date, home_team, away_team, team_rating[home_team]["rating"], team_rating[away_team]["rating"],home_goals,away_goals, 0])
            
            # Update Elo ratings based on match result
            update_elo(home_team, away_team, ftr)